# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/BIN
/.pnp
/.firebase
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.dev
.firebaserc


firebase.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
notes
